@font-face {
    font-family: 'printable4ubold';
    src: url('printable4u_bold_ver_1.00-webfont.woff2') format('woff2'),
         url('printable4u_bold_ver_1.00-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}